@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using UTM.DLL.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Notes</title>


    <link href="~/assets/css/pages/messages.css" rel="stylesheet">
    <!-- Base CSS -->
    <link rel="stylesheet" href="~/assets/css/basestyle/style.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Date Range Picker -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/daterangepicker/daterangepicker.css" />

    <!-- Full Calendar Icons -->
    <link href="~/assets/css/fullcalendar/fullcalendar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

    <!-- Pre Loader-->
    <div class="loader-wrapper">
        <div class="spinner">
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
            <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
            </svg>
        </div>
    </div>
    <!-- Pre Loader-->



    <section class="wrapper">


        <!-- SIDEBAR -->
        <aside class="sidebar">
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand m-0 py-2 brand-title" href="#">UTM Notes</a>
                <span></span>
                <a class="navbar-brand py-2 material-icons toggle-sidebar" href="#">menu</a>
            </nav>

            <nav class="navigation">
                <ul>
                    <li class=""><a asp-controller="NotesApp" asp-action="Index" title="Dashboard"><span class="nav-icon material-icons">public</span> Notitele mele</a></li>
                    <li class=""><a asp-controller="NotesApp" asp-action="Index" title="Dashboard"><span class="nav-icon material-icons">public</span> Adauga o notita</a></li>
                </ul>
            </nav>

        </aside>



        <!--RIGHT CONTENT AREA-->
        <div class="content-area">

            <header class="header sticky-top">
                <nav class="navbar navbar-light bg-white px-sm-4 ">
                    <a class="navbar-brand py-2 d-md-none  m-0 material-icons toggle-sidebar" href="#">menu</a>
                    <ul class="navbar-nav flex-row ml-auto">
                        <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Switch Application">
                            <a data-toggle="modal" href="#" data-target="#switchApp" class="nav-link"><span class="material-icons align-middle">apps</span></a>
                        </li>
                        <li class="nav-item notification">
                            <a href="#" id="notificationDropdown" data-toggle="dropdown" class="nav-link"><span class="material-icons align-middle">notifications_none</span></a>
                            <div class="dropdown-menu p-0 dropdown-lg notificationDropdown dropdown-menu-right" aria-labelledby="notificationDropdown">

                                <a class="dropdown-item py-3 border-bottom" href="#">
                                    <p class="text-muted mb-1"><small>John Doe Application</small></p>
                                    <div class="progress" style="height:8px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item py-3 border-bottom" href="#">
                                    <p class="text-muted mb-1"><small>Akshay Application</small></p>
                                    <div class="progress" style="height:8px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item whitespace-normal py-3 border-bottom" href="#">
                                    <div class="media">
                                        <img class="mr-3 rounded" width="26" src="assets/images/user.png">
                                        <div class="media-body">
                                            <h6 class="m-0 weight-400">Media heading</h6>
                                            <small class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.</small>
                                        </div>
                                    </div>
                                </a>

                                <a class="dropdown-item py-3 border-bottom" href="#">
                                    <p class="text-muted mb-1"><small>Uploading Documents</small></p>
                                    <div class="progress" style="height:8px;">
                                        <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item py-3 border-bottom" href="#">
                                    <span class="badge badge-pill badge-danger mr-2">Warning</span> <small class="text-muted">Somthing went wrong !</small>
                                </a>
                                <button type="button" class="btn btn-light btn-sm btn-block">View All</button>
                            </div>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </nav>
            </header>


            <div class="content-wrapper">

                <div class="row page-tilte align-items-center">
                    <div class="col-md-auto">
                        <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
                        <h1 class="weight-300 h3 title">@ViewData["Title"]</h1>
                    </div>
                    <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
                        <div class="controls d-flex justify-content-center justify-content-md-end">

                        </div>
                    </div>
                </div>


                <div class="content">
                    @RenderBody()
                </div>


                <footer class="footer">
                    <p class="text-muted m-0"><small class="float-right">Made with <span class="material-icons md-16 text-danger align-middle">favorite</span> by Akshay Kumar </small><small>FreakPixels © 2019 - Legends</small></p>
                </footer>


            </div>



        </div>


    </section>

    @RenderSection("Modals", required: false)

    <div class="modal fade" id="switchApp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header px-4">
                    <h5 class="modal-title" id="exampleModalLabel">Select Application</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="material-icons ">close</span>
                    </button>
                </div>
                <div class="modal-body p-4">

                    <partial name="_Apps" />

                </div>
                <div class="modal-footer px-4">
                    <div class="custom-control custom-checkbox mr-auto">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Default open this application</label>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Switch Application</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/lib/moment.min.js"></script>
    <script src="~/assets/js/lib/jquery.min.js"></script>
    <script src="~/assets/js/lib/popper.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/chosen-js/chosen.jquery.js"></script>


    <script src="~/assets/js/custom.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
